#main_table {
    
    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }

}

#myfirstchart {
    width: 800px;
    height: 600px;
    // background-color: blue;
}

#make_chart {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
}